PROJECT_NAME=task_manager
NEXT_PUBLIC_APP_NETWORK=devnet
NEXT_PUBLIC_APTOS_API_KEY=""
NEXT_MODULE_PUBLISHER_ACCOUNT_ADDRESS=0x1368c42aef2db4d296f2415c0eacfc288425fe205ba14df99e193b83e1b1e783
#This is the module publisher account's private key. Be cautious about who you share it with, and ensure it is not exposed when deploying your dApp.
NEXT_MODULE_PUBLISHER_ACCOUNT_PRIVATE_KEY=
NEXT_PUBLIC_MODULE_ADDRESS=0x440ac788bb6c525d8b1f5e79a34319499e062c940a9e34b55fddee8c3404f6fa